<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ctoms-web</display-name>
  <listener>
    <listener-class>com.guanhuodata.web.listener.FrameworkInitListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Portal Action</servlet-name>
    <servlet-class>com.guanhuodata.web.servlet.PortalActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Portal Action</servlet-name>
    <url-pattern>/action</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AjaxSessionTimeoutServlet</display-name>
    <servlet-name>AjaxSessionTimeoutServlet</servlet-name>
    <servlet-class>com.guanhuodata.web.servlet.AjaxSessionTimeoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxSessionTimeoutServlet</servlet-name>
    <url-pattern>/AjaxSessionTimeoutServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SecurityUtilServlet</display-name>
    <servlet-name>SecurityUtilServlet</servlet-name>
    <servlet-class>com.guanhuodata.web.servlet.SecurityUtilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityUtilServlet</servlet-name>
    <url-pattern>/SecurityUtilServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>session_filter</filter-name>
    <filter-class>com.guanhuodata.web.servlet.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>session_filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- Character utf-8 Encoding filter -->
	<filter>
		<filter-name>utf8encodingFilter</filter-name>
		<filter-class>com.guanhuodata.web.servlet.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>utf8encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>